#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.text {
  position: fixed;
  top: 0;
  left: 0;
  color: white;
}

.wish_form {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}
